body{
    background-color: rgba(195, 178, 202, 0.897);
    text-align: center;
    font-family: Verdana;
    cursor: pointer;
    font-size: 2em;
}
.Zbtn{
    font-size: 4.14em;
}
button{
    font-size: 16px;
    background-color: rgb(206, 106, 13);
    padding: 8px 16px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(202, 174, 48);

}
